body {
    padding-top: 70px; /* Отступ, равный высоте шапки */
}
body.no-scroll {
    overflow: hidden; /* Предотвращаем скролл страницы */
}
@keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/*=========================================== Шапка сайта ============================================================*/

.bd-subnavbar {
    position: fixed; /* Фиксируем навигацию */
    top: 0; /* Устанавливаем на верх страницы */
    left: 0; /* Устанавливаем на левый край */
    right: 0; /* Устанавливаем на правый край */
    z-index: 1000; /* Устанавливаем высокий z-index, чтобы шапка была поверх других элементов */
    background-color: white; /* Устанавливаем фон, чтобы текст был читаемым */
    border-bottom: 1px solid #ced4da; /* Граница снизу для отделения от контента */
}
.logo {
    margin-left: 76px;
    cursor: pointer;
}
.img-logo {
    position: relative;
    left: -25px;
}
.text-logo {
    position: relative;
    left: -5.6px;
    font-size: 30px;
    font-family: SFMono-Regular;
}
.algolia-autocomplete {
    position: relative;
    display: inline-block;
    direction: ltr;
    left: 25px;
}
.form-control ds-input {
    position: relative;
    vertical-align: top;
}
.form-control:focus {
    border-color: #1b1b1b; /* Изменяем цвет границы при фокусе */
    box-shadow: 0 0 5px rgba(14, 14, 14, 0.5); /* Добавляем тень при фокусе */
    outline: none; /* Убираем стандартную обводку */
    color: #1b1b1b; /* Цвет текста при фокусе */
}
.dropdown {
    display: flex;
    gap: 4px;
    margin-left: auto;
    margin-right: 300px;
}
#overlay {
    display: none; /* Скрываем фон по умолчанию */
    position: fixed; /* Фиксируем позицию фона */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* Полупрозрачный черный фон */
    z-index: 999; /* Поднимаем фон над остальным контентом */
}

/*=========================================== Окна регистрации\входа =================================================*/

.popup-window {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ced4da;
    z-index: 1000;
}
.show {
    display: block;
}
#content_window {
    border-radius: 20px;
    animation: ani 1.5s forwards;
    display: none; /* Скрываем окно по умолчанию */
    position: fixed; /* Фиксируем позицию окна */
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #ced4da;
    padding: 20px;
    z-index: 1000; /* Окно выше фона */
    width: 300px; /* Устанавливаем ширину формы */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    top: 50%; /* Центрируем по вертикали */
    left: 50%; /* Центрируем по горизонтали */
    transform: translate(-50%, -50%) scale(0); /* Начальное состояние (сжатое) */
    opacity: 0; /* Начальная прозрачность */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Плавный переход */
}
#content_window.show {
    display: block; /* Показываем окно */
    transform: translate(-50%, -50%) scale(1); /* Увеличиваем до нормального размера */
}
#content_window2 {
    border-radius: 20px;
    animation: ani 1.5s forwards;
    display: none; /* Скрываем окно по умолчанию */
    position: fixed; /* Фиксируем позицию окна */
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #ced4da;
    padding: 20px;
    z-index: 1000; /* Окно выше фона */
    width: 300px; /* Устанавливаем ширину формы */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    top: 50%; /* Центрируем по вертикали */
    left: 50%; /* Центрируем по горизонтали */
    transform: translate(-50%, -50%) scale(0); /* Начальное состояние (сжатое) */
    opacity: 0; /* Начальная прозрачность */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Плавный переход */
}
#content_window2.show {
    display: block; /* Показываем окно */
    transform: translate(-50%, -50%) scale(1); /* Увеличиваем до нормального размера */
}
.btnX {
    font-family: 'DejaVu Sans Mono', monospace;
    margin-top: -25px;
    margin-left: 245px;
    top: 15px;
    position: absolute;
    background-color: transparent; /* Прозрачный фон */
    color: #dc3545; /* Цвет текста (красный) */
    border: none; /* Убираем границу */
    font-size: 40px; /* Размер шрифта */
    cursor: pointer; /* Указываем, что это кнопка */
    transition: transform 0.3s ease, color 0.3s ease; /* Плавный переход для трансформации и цвета */
}
/* Стили при наведении */
.btnX:hover {
    background-color: transparent; /* Прозрачный фон при наведении */
    color: #c82333; /* Цвет текста при наведении */
    transform: scale(1.2); /* Увеличиваем размер при наведении */
}
/* Стили при нажатии */
.btnX:active {
    background-color: transparent; /* Прозрачный фон при нажатии */
    color: #b01a2a; /* Цвет текста при нажатии */
    transform: scale(1); /* Возвращаем размер при нажатии */
}
/* Убираем обводку при фокусе */
.btnX:focus {
    outline: none; /* Убираем обводку при фокусе */
}
.btnB, .btnA {
    border-radius: 10px;
    border: 2px solid #0B63F6; /* Добавляем границу */
    color: white;
    background: linear-gradient(135deg, #0B63F6, #063678); /* Градиентный фон */
    padding: 5px 10px; /* Добавляем внутренние отступы для увеличения размера кнопки */
    font-size: 16px; /* Увеличиваем размер шрифта */
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* Плавные переходы */
    position: relative;
    overflow: hidden;
}
.btnB {
    margin-left: 25px;
}
.btnA {
    margin-left: 100px;
}
/* Стили при наведении */
.btnB:hover, .btnA:hover {
    background: linear-gradient(135deg, #0849a5, #042553); /* Темнее оттенок синего */
    color: #ffffff; /* Белый цвет текста */
    transform: scale(1.05); /* Увеличиваем размер кнопки */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Добавляем тень */
}
/* Стили при нажатии */
.btnB:active, .btnA:active {
    background: linear-gradient(135deg, #053372, #042553); /* Еще темнее оттенок синего */
    color: #ffffff; /* Белый цвет текста */
    transform: scale(1); /* Возвращаем размер кнопки */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Уменьшаем тень */
}

/*------------------------------------------- Окна регистрации\входа -------------------------------------------------*/

#userInfo {
    margin-left: auto;
    margin-right: 300px;
}
.btn {
    background-color: #ffffff; /* Белый фон по умолчанию */
    border: 0px solid #8a8a8a; /* Добавляем обводку */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    color: #000000; /* Чёрный цвет текста */
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.6s ease, color 0.3s ease, box-shadow 0.6s ease, transform 0.3s ease; /* Плавный переход для фона, текста, тени и трансформации */
    position: relative;
    overflow: hidden;
}
.btn:hover {
    background-color: #373737; /* Чёрный фон при наведении */
    color: #ffffff; /* Белый цвет текста при наведении */
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}
.btn:active {
    background-color: #373737; /* Чёрный фон при нажатии */
    color: #ffffff; /* Белый цвет текста при нажатии */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transform: translateY(0);
}
.btnX {
    margin-left: 240px;
    top: 15px;
    position: absolute;
    background-color: transparent; /* Прозрачный фон */
    color: #dc3545; /* Цвет текста (красный) */
    border: none; /* Убираем границу */
    font-size: 40px; /* Размер шрифта */
    cursor: pointer; /* Указываем, что это кнопка */
}

/* Стили при наведении */
.btnX:hover {
    background-color: transparent; /* Прозрачный фон при наведении */
    color: #c82333; /* Цвет текста при наведении */
}

/* Стили при нажатии */
.btnX:active {
    background-color: transparent; /* Прозрачный фон при нажатии */
    color: #c82333; /* Цвет текста при нажатии */
}
/* Убираем обводку при фокусе */
.btnX:focus {
    outline: none; /* Убираем обводку при фокусе */
}
.btnB {
    margin-left: 50px;
    border-radius: 10px;
    border-color: #0B63F6;
    color: white;
    transition: .2s linear;
    background: #0B63F6;
}

/*---------------------------------------------- Шапка сайта ---------------------------------------------------------*/
/*=============================================== Тело сайта =========================================================*/

.image-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Чтобы изображение было на заднем плане */
}
.img-top-center {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Чтобы изображение покрывало весь контейнер */
}
.image-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.70); /* Белый цвет с прозрачностью */
    pointer-events: none; /* Чтобы слой не мешал взаимодействию с контентом */
}

.container {
    margin-top: 30px;
    margin-bottom: 30px;
    background: #ffffff;
    background-size: 200% 200%; /* Увеличиваем размер градиента */
    border: none; /* Убираем обводку */
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    padding: 10px 20px;
    text-decoration: none;
    transition: box-shadow 0.3s ease, transform 0.3s ease, background-position 0.6s ease, color 0.6s ease; /* Плавный переход для фона и текста */
    position: relative;
}
.card-body {
    padding: 0;
    margin-left: 280px;
    margin-top: -250px;
    height: 250px;
}
.card-text {
    font-size: 20px;
    padding-bottom: 30px;
}
.card {
    cursor: pointer; /* Устанавливает курсор в виде пальца */
    margin-top: 20px;
    bottom: 20px;
}
.card:hover .img-top {
    filter: brightness(1.2); /* Увеличивает яркость изображения при наведении */
}
.img-top {
    position: relative;
    transition: filter 0.3s;
    border-radius: 15px;
    margin: 10px;
}

.container a {
    text-decoration: none; /* Убираем подчеркивание ссылки */
    color: inherit; /* Наследуем цвет текста */
}

/*----------------------------------------------- Тело сайта ---------------------------------------------------------*/
/*============================================== Подвал сайта ========================================================*/

.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    border-top: 1px solid #ddd;
    margin-right: -20px;
    margin-left: -20px;
}
.footer-section {
    padding-left: 20px;
    flex: 1;
}
.social-icons img, .contact-icon {
    max-width: 35px;
}
.footer-section p {
    margin: 10px 0;
}
.footer-section a {
    text-decoration: none;
    color: #333;
}
.footer-section a:hover {
    text-decoration: underline;
}
.footer-section .social-icons a {
    margin-right: 10px;
}
.img-logo-footer {
    width: 100px;
}
.description {
    font-family: SFMono-Regular;
    color: #323232;
    font-weight: bold;
    line-height: 1.2; /* Уменьшение межстрочного интервала */;
    font-size: 40px;
}

/*---------------------------------------------- Подвал сайта --------------------------------------------------------*/