.logo {
    margin-left: -225px;
    cursor: pointer;
}

.img-logo {
    position: relative;
    left: -25px;
}

.text-logo {
    position: relative;
    left: -5.1px;
    font-size: 30px;
    font-family: SFMono-Regular;
}

.bd-subnavbar {
    position: fixed; /* Фиксируем навигацию */
    top: 0; /* Устанавливаем на верх страницы */
    left: 0; /* Устанавливаем на левый край */
    right: 0; /* Устанавливаем на правый край */
    z-index: 1000; /* Устанавливаем высокий z-index, чтобы шапка была поверх других элементов */
    background-color: white; /* Устанавливаем фон, чтобы текст был читаемым */
    border-bottom: 1px solid #ced4da; /* Граница снизу для отделения от контента */
}

body {
    padding-top: 70px; /* Отступ, равный высоте шапки */
}

.algolia-autocomplete {
    position: relative;
    display: inline-block;
    direction: ltr;
    left: 25px;
}

.dropdown {
    margin-left: auto;
    margin-right: 0px;
}

.form-control ds-input {
    position: relative;
    vertical-align: top;
}

.img-top {
    position: relative;
    transition: filter 0.3s;
    border-radius: 15px;
    margin: 10px;
}

.card-body {
    padding: 0;
    margin-left: 280px;
    margin-top: -250px;
    height: 250px;
}

.card-text {
    font-size: 20px;
    padding-bottom: 30px;
}

.card {
    margin-top: 20px;
    bottom: 20px;
}

.card:hover .img-top {
    filter: brightness(1.2); /* Увеличивает яркость изображения при наведении */
}