<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Подключение CSS файла -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Coffee.css') }}">

    <title>Городской гид - {{title}}</title>

    <!-- Украшаем вкладку вашим логотипом -->
    <link rel="icon" href="{{ url_for('static', filename='Фотки зданий/лого.png') }}" type="image/png">

    <!-- Шапка -->
    <nav class="bd-subnavbar py-2" aria-label="Secondary navigation">
        <div class="container-xxl d-flex align-items-md-center">
            <div class="logo" onclick="window.location.href='/';">
                <img height="50px" width="70px" src="{{ url_for('static', filename='Фотки зданий/лого.png') }}" class="img-logo" alt="Иконка лого.png">
                <span class="text-logo">Городской Гид</span>
            </div>
            <form class="bd-search position-relative me-auto" action="/search" method="POST">
                <span class="algolia-autocomplete">
                    <input class="form-control ds-input" id="search-input" name="query" placeholder="Поиск в документации..." aria-autocomplete="list" >
                </span>
            </form>
            <div class="dropdown" >
                <button class="btn btn-bd-light" style="border: 1px solid #ced4da;">
                    <span class="d-none d-lg-inline">Вход</span>
                </button>
                <button class="btn btn-bd-light" style="border: 1px solid #ced4da;">
                    <span class="d-none d-lg-inline">Регистрация</span>
                </button>
            </div>
        </div>
    </nav>
</head>
<body>
    <!-- Иконки список -->
    <div class="container" style="margin-top: 50px;">
        <div class="card">
            <img class="img-top" style="border-radius: 20px; margin: 10px; transition: filter 0.3s;" width="250px" height="250px" src="{{ url_for('static', filename='Фотки зданий/Хлебник.png') }}" alt="Кафе Хлебник.png">
            <div class="card-body">
                <h4 class="card-title">Хлебник</h4>
                <p class="card-text">Кафе «Хлебник» — это уютное место, где можно позавтракать, пообедать или просто перекусить.<br><br>+7 (995) 233-31-22 ㅤㅤㅤㅤㅤул. Фёдоровский Ручей, 2/13, район Торговая сторона</p>
            </div>
        </div>
        <div class="card">
            <img class="img-top" style="border-radius: 20px; margin: 10px; transition: filter 0.3s;" width="250px" height="250px" src="{{ url_for('static', filename='Фотки зданий/Время Ч.png') }}" alt="Кафе Время Ч.png">
            <div class="card-body">
                <h4 class="card-title">Время Ч</h4>
                <p class="card-text">Кафе «Время Ч» — это место, где вы можете насладиться разнообразным меню, включающим в себя авторские блюда и классические рецепты. Интерьер кафе стильно оформлен и создает приятный фон для вечера, а спокойная музыка дополняет общую атмосферу.<br><br>+7 (8162) 99-80-40 ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤЩитная ул., 7/31, район Торговая сторона</p>
            </div>
        </div>
        <div class="card">
            <img class="img-top" style="border-radius: 20px; margin: 10px; transition: filter 0.3s;" width="250px" height="250px" src="{{ url_for('static', filename='Фотки зданий/МамаСушиПицца.png') }}" alt="Кафе МамаСушиПицца.png">
            <div class="card-body">
                <h4 class="card-title">МамаСушиПицца</h4>
                <p class="card-text">Кафе «МамаСушиПицца» — Нет описания.<br><br>+7 (991) 493-10-09 ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤул. Ломоносова, 43</p>
            </div>
        </div>
        <div class="card">
            <img class="img-top" style="border-radius: 20px; margin: 10px; transition: filter 0.3s;" width="250px" height="250px" src="{{ url_for('static', filename='Фотки зданий/Ромитто.png') }}" alt="Кафе Ромитто.png">
            <div class="card-body">
                <h4 class="card-title">Ромитто</h4>
                <p class="card-text">«Ромитто» — это заведение быстрого питания, где можно попробовать разнообразные блюда, такие как шаурма, гамбургеры, пельмени, лапша и корн-доги.<br><br>+7 (8162) 70-06-00 ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤул. Ломоносова, 37</p>
            </div>
        </div>
        <div class="card">
            <img class="img-top" style="border-radius: 20px; margin: 10px; transition: filter 0.3s;" width="250px" height="250px" src="{{ url_for('static', filename='Фотки зданий/Колобок.png') }}" alt="Кафе Колобок.png">
            <div class="card-body">
                <h4 class="card-title">Колобок</h4>
                <p class="card-text">Кафе «Колобок» — это место, где можно вкусно и недорого поесть.<br><br>+7 (8162) 63-82-04 ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤБольшая Московская ул., 28</p>
            </div>
        </div>
        <div class="card">
            <img class="img-top" style="border-radius: 20px; margin: 10px; transition: filter 0.3s;" width="250px" height="250px" src="{{ url_for('static', filename='Фотки зданий/Старик Хинкалыч.png') }}" alt="Кафе Старик Хинкалыч.png">
            <div class="card-body">
                <h4 class="card-title">Старик Хинкалыч</h4>
                <p class="card-text">«Старик Хинкалыч» — это кафе грузинской кухни, где вы можете попробовать различные виды хинкали, такие как хинкали с говядиной, сыром, картофелем и грибами, а также хачапури по-аджарски.<br><br>+7‒905‒290‒87‒98 ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤрайон Софийская сторона, Розважа ул., 13</p>
            </div>
        </div>
        <div class="card">
            <img class="img-top" style="border-radius: 20px; margin: 10px; transition: filter 0.3s;" width="250px" height="250px" src="{{ url_for('static', filename='Фотки зданий/Изюм.png') }}" alt="Кафе Изюм.png">
            <div class="card-body">
                <h4 class="card-title">Изюм</h4>
                <p class="card-text">Найди свою «Изюминку» и живи со вкусом!<br><br>+7 (8162) 90-08-82 ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤМолотковская ул., 4, район Торговая сторона</p>
            </div>
        </div>
        <div class="card">
            <img class="img-top" style="border-radius: 20px; margin: 10px; transition: filter 0.3s;" width="250px" height="250px" src="{{ url_for('static', filename='Фотки зданий/Бруклин.png') }}" alt="Кафе Бруклин.png">
            <div class="card-body">
                <h4 class="card-title">Бруклин</h4>
                <p class="card-text">«Бруклин» — это заведение быстрого питания, где вы можете насладиться вкусными и сытными блюдами, такими как бургеры, хот-доги, шаурма и картофель фри.<br><br>+7 (953) 907-00-88 ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤЧудинцева ул., 7, район Софийская сторона</p>
            </div>
        </div>
        <div class="card">
            <img class="img-top" style="border-radius: 20px; margin: 10px; transition: filter 0.3s;" width="250px" height="250px" src="{{ url_for('static', filename='Фотки зданий/Персона.png') }}" alt="Кафе Персона.png">
            <div class="card-body">
                <h4 class="card-title">Персона</h4>
                <p class="card-text">Банкетный зал «Персона» — это место, где можно провести любое мероприятие, будь то свадьба, корпоратив или выпускной вечер.<br><br>+7 (911) 600-20-19 ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤБатецкая ул., 22, Псковский район этаж 3</p>
            </div>
        </div>
        <div class="card">
            <img class="img-top" style="border-radius: 20px; margin: 10px; transition: filter 0.3s;" width="250px" height="250px" src="{{ url_for('static', filename='Фотки зданий/Садко.png') }}" alt="Кафе Садко.png">
            <div class="card-body">
                <h4 class="card-title">Садко</h4>
                <p class="card-text">Кафе «Садко» — это место, где можно вкусно и сытно позавтракать, пообедать или поужинать.<br><br>+7 (8162) 66-18-08 ㅤㅤㅤㅤㅤㅤㅤул. Фёдоровский Ручей, 16, район Торговая сторона</p>
            </div>
        </div>
        <div class="card">
            <img class="img-top" style="border-radius: 20px; margin: 10px; transition: filter 0.3s;" width="250px" height="250px" src="{{ url_for('static', filename='Фотки зданий/Шаурpoint.png') }}" alt="Кафе Шаурpoint.png">
            <div class="card-body">
                <h4 class="card-title">Шаурpoint</h4>
                <p class="card-text">ШАУРPOINT-cеть кафе быстрого питания в разных форматах – от ресторанов в собственных зданиях и точек быстрого обслуживания до фуд-траков.<br><br>+7 (996) 569-41-19ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤул. Державина, 19</p>
            </div>
        </div>
        <div class="card">
            <img class="img-top" style="border-radius: 20px; margin: 10px; transition: filter 0.3s;" width="250px" height="250px" src="{{ url_for('static', filename='Фотки зданий/My Kitchen.png') }}" alt="Кафе My Kitchen.png">
            <div class="card-body">
                <h4 class="card-title">My Kitchen</h4>
                <p class="card-text">My Kitchen — это кафе, который предлагает своим гостям блюда грузинской, европейской и японской кухни. В меню можно найти такие блюда, как хачапури, сациви, томатный суп, борщ и другие.<br><br>+7 (8162) 90-07-20ㅤㅤㅤㅤㅤㅤㅤㅤБольшая Московская ул., 52/9, Великий Новгород</p>
            </div>
        </div>
        <div class="card">
            <img class="img-top" style="border-radius: 20px; margin: 10px; transition: filter 0.3s;" width="250px" height="250px" src="{{ url_for('static', filename='Фотки зданий/Наffига козе баян.png') }}" alt="Кафе Наffига козе баян.png">
            <div class="card-body">
                <h4 class="card-title">Наffига козе баян?!</h4>
                <p class="card-text">Кафе «Наffига козе баян?!» — это место, где стиль, креатив и фантазия сочетаются с кулинарной идеей.<br><br>+7 (911) 633-10-27ㅤㅤㅤㅤㅤВеликая ул., 3, Софийская сторона, Великий Новгород</p>
            </div>
        </div>
        <div class="card">
            <img class="img-top" style="border-radius: 20px; margin: 10px; transition: filter 0.3s;" width="250px" height="250px" src="{{ url_for('static', filename='Фотки зданий/Чайхана Сказка.png') }}" alt="Кафе Чайхана Сказка.png">
            <div class="card-body">
                <h4 class="card-title">Чайхана Сказка</h4>
                <p class="card-text">«Чайхана Сказка» — это кафе, расположенный на набережной реки Волхов в Великом Новгороде. Он предлагает своим гостям широкий выбор блюд, включая манты, хинкали, шашлыки, плов, хачапури, роллы и пиццу.<br><br>+7 (8162) 50-01-11<br>наб. Александра Невского, 26, район Торговая сторона, Великий Новгород</p>
            </div>
        </div>
        <div class="card">
            <img class="img-top" style="border-radius: 20px; margin: 10px; transition: filter 0.3s;" width="250px" height="250px" src="{{ url_for('static', filename='Фотки зданий/Сказка.png') }}" alt="Кафе Сказка.png">
            <div class="card-body">
                <h4 class="card-title">Сказка</h4>
                <p class="card-text">Кафе «Сказка» — это место, где вы можете попробовать блюда разных кухонь, такие как восточная, кавказская, итальянская и азиатская.<br><br>+7 (8162) 28-03-41<br>ул. Мерецкова-Волосова, 11, Софийская сторона, Великий Новгород</p>
            </div>
        </div>
        <div class="card">
            <img class="img-top" style="border-radius: 20px; margin: 10px; transition: filter 0.3s;" width="250px" height="250px" src="{{ url_for('static', filename='Фотки зданий/Тепло траттория.png') }}" alt="Кафе Тепло траттория.png">
            <div class="card-body">
                <h4 class="card-title">Тепло траттория</h4>
                <p class="card-text">Кафе «Тепло траттория» — это уютное заведение с милым интерьером, где много света и зелени. Гостям нравится мясная пицца, сырные палочки, салат с форелью, лимонный чизкейк, пицца и котлеты «Пожарские».<br><br>+7 (8162) 90-98-62ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤПрусская ул., 1/7, Великий Новгород</p>
            </div>
        </div>
        <div class="card">
            <img class="img-top" style="border-radius: 20px; margin: 10px; transition: filter 0.3s;" width="250px" height="250px" src="{{ url_for('static', filename='Фотки зданий/Рестобар Кружечный Двор.png') }}" alt="Кафе Рестобар Кружечный Двор.png">
            <div class="card-body">
                <h4 class="card-title">Рестобар Кружечный Двор</h4>
                <p class="card-text">Рестобар «Кружечный Двор» — это атмосферное место с низкими сводчатыми кирпичными потолками, картинами с мишками, бочками, вениками, уткой-графином, дровником и росписью на стенах.<br><br>+7 (921) 606-53-53<br>ул. Рогатица, 14, район Торговая сторона, Великий Новгород этаж цокольный</p>
            </div>
        </div>
        <div class="card">
            <img class="img-top" style="border-radius: 20px; margin: 10px; transition: filter 0.3s;" width="250px" height="250px" src="{{ url_for('static', filename='Фотки зданий/Legenda.png') }}" alt="Кафе Legenda.png">
            <div class="card-body">
                <h4 class="card-title">Legenda</h4>
                <p class="card-text">Кафе «Legenda» — это место, где можно вкусно поесть и весело потанцевать. После 20:00 работает диджей, который включает музыку по желанию гостей.<br><br>+7 (8162) 66-07-96<br>Михайлова ул., 3, корп. 4, район Торговая сторона, Великий Новгород этаж 1</p>
            </div>
        </div>
        <div class="card">
            <img class="img-top" style="border-radius: 20px; margin: 10px; transition: filter 0.3s;" width="250px" height="250px" src="{{ url_for('static', filename='Фотки зданий/Юрьевское Подворье.png') }}" alt="Кафе Юрьевское Подворье.png">
            <div class="card-body">
                <h4 class="card-title">Юрьевское Подворье</h4>
                <p class="card-text">Кафе «Юрьевское Подворье» предлагает своим гостям аутентичную русскую кухню, приготовленную из традиционных продуктов.<br><br>+7 (8162) 78-80-08 ㅤㅤㅤㅤㅤㅤㅤㅤㅤЮрьевское ш., 6А Район Юрьево, этаж 1</p>
            </div>
        </div>
        <div class="card">
            <img class="img-top" style="border-radius: 20px; margin: 10px; transition: filter 0.3s;" width="250px" height="250px" src="{{ url_for('static', filename='Фотки зданий/Napoli.png') }}" alt="Кафе Napoli.png">
            <div class="card-body">
                <h4 class="card-title">Napoli</h4>
                <p class="card-text">Каждый гость найдет в меню ресторана блюдо на свой вкус. Понятная и известная, легкая и современная, но в то же время тонкая и изысканная кухня средиземноморья.<br><br>+7 (911) 600-30-95ㅤㅤㅤㅤㅤㅤㅤㅤㅤСтуденческая ул., 21/43, Донецкий район Первый</p>
            </div>
        </div>
        <div class="card">
            <img class="img-top" style="border-radius: 20px; margin: 10px; transition: filter 0.3s;" width="250px" height="250px" src="{{ url_for('static', filename='Фотки зданий/Чародейка.png') }}" alt="Кафе Чародейка.png">
            <div class="card-body">
                <h4 class="card-title">Чародейка</h4>
                <p class="card-text">Кафе «Чародейка» — это место, куда хочется возвращаться. Здесь стильно, вкусно и по-домашнему уютно. Официанты и персонал молодцы. Кухня прекрасна, бургер — шедевр.<br><br>+7 (911) 600-14-09ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤЧудинцева ул., 1/1, район Софийская сторона</p>
            </div>
        </div>
        <div class="card">
            <img class="img-top" style="border-radius: 20px; margin: 10px; transition: filter 0.3s;" width="250px" height="250px" src="{{ url_for('static', filename='Фотки зданий/География.png') }}" alt="Кафе География.png">
            <div class="card-body">
                <h4 class="card-title">География</h4>
                <p class="card-text">Кафе «География» расположен в самом сердце Великого Новгорода, в окружении главных достопримечательностей, с видом на Кремль и фонтан «Садко». В ресторане есть два зала: внутри помещения и закрытая веранда, а также бесплатная парковка для посетителей.<br><br>+7 (8162) 90-00-55ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤул. Газон, 2, район Софийская сторона</p>
            </div>
        </div>
        <div class="card">
            <img class="img-top" style="border-radius: 20px; margin: 10px; transition: filter 0.3s;" width="250px" height="250px" src="{{ url_for('static', filename='Фотки зданий/ПхалиХинкали.png') }}" alt="Кафе ПхалиХинкали.png">
            <div class="card-body">
                <h4 class="card-title">ПхалиХинкали</h4>
                <p class="card-text">Кафе «ПхалиХинкали» предлагает своим гостям блюда грузинской кухни, приготовленные по традиционным рецептам.<br><br>+7 (8162) 90-46-46ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤЛюдогоща ул., 10, район Софийская сторона</p>
            </div>
        </div>
        <div class="card">
            <img class="img-top" style="border-radius: 20px; margin: 10px; transition: filter 0.3s;" width="250px" height="250px" src="{{ url_for('static', filename='Фотки зданий/Проун.png') }}" alt="Кафе Проун.png">
            <div class="card-body">
                <h4 class="card-title">Проун</h4>
                <p class="card-text">Кафе «Проун» предлагает своим гостям блюда русской авангардной кухни, приготовленные с творческим подходом. В меню можно найти такие блюда, как борщ с необычной подачей и оригинальными ингредиентами, стейк из оленины, утиная грудка и тартар из говядины.<br><br>+7 (8162) 50-07-70ㅤㅤㅤㅤㅤㅤㅤㅤㅤПредтеченская ул., 24, район Софийская сторона 5</p>
            </div>
        </div>
        <div class="card">
            <img class="img-top" style="border-radius: 20px; margin: 10px; transition: filter 0.3s;" width="250px" height="250px" src="{{ url_for('static', filename='Фотки зданий/Marusya.png') }}" alt="Кафе Marusya.png">
            <div class="card-body">
                <h4 class="card-title">Marusya</h4>
                <p class="card-text">Кафе Marusya — это стильное и современное место, где можно попробовать аутентичные блюда русской кухни, а также блюда других кухонь, такие как паста и тартары.<br><br>+7 (8162) 78-88-87<br>Предтеченская ул., 24, район Софийская сторона Район Софийская сторона, этаж 1</p>
            </div>
        </div>
        <div class="card">
            <img class="img-top" style="border-radius: 20px; margin: 10px; transition: filter 0.3s;" width="250px" height="250px" src="{{ url_for('static', filename='Фотки зданий/Барашки.png') }}" alt="Кафе Барашки.png">
            <div class="card-body">
                <h4 class="card-title">Барашки</h4>
                <p class="card-text">Кафе «Барашки» предлагает своим гостям блюда грузинской кухни, приготовленные по традиционным рецептам.<br><br>+7 (8162) 55-53-22ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤул. Ломоносова, 22/2, Великий Новгород</p>
            </div>
        </div>
        <div class="card">
            <img class="img-top" style="border-radius: 20px; margin: 10px; transition: filter 0.3s;" width="250px" height="250px" src="{{ url_for('static', filename='Фотки зданий/Шкипер.png') }}" alt="Кафе Шкипер.png">
            <div class="card-body">
                <h4 class="card-title">Шкипер</h4>
                <p class="card-text">Кафе «Шкипер» Настоящая кавказская кухня в приятном месте города!<br><br>+7 (8162) 63-39-80 ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤСтуденческая ул., 4, Донецкий район</p>
            </div>
        </div>
        <div class="card">
            <img class="img-top" style="border-radius: 20px; margin: 10px; transition: filter 0.3s;" width="250px" height="250px" src="{{ url_for('static', filename='Фотки зданий/Диез.png') }}" alt="Кафе Диез.png">
            <div class="card-body">
                <h4 class="card-title">Диез</h4>
                <p class="card-text">Кафе «Диез» — это место, где можно вкусно и недорого поесть. Формат обслуживания — столовая, но антураж как в кафе. Из окон открывается красивый вид на набережную Волхова.<br><br>+7 (8162) 69-30-82 ㅤㅤㅤㅤул. Фёдоровский Ручей, 2/13, район Торговая сторона этаж 1</p>
            </div>
        </div>
        <div class="card">
            <img class="img-top" style="border-radius: 20px; margin: 10px; transition: filter 0.3s;" width="250px" height="250px" src="{{ url_for('static', filename='Фотки зданий/Cafe Le Chocolat.png') }}" alt="Кафе Cafe Le Chocolat.png">
            <div class="card-body">
                <h4 class="card-title">Cafe Le Chocolat</h4>
                <p class="card-text">Кафе «Café le Chocolat» — это место, где вы можете насладиться вкусными завтраками, обедами и ужинами, а также горячими напитками, такими как горячий шоколад и кофе.<br><br>+7 (8162) 73-90-09 ㅤㅤㅤㅤㅤㅤㅤㅤЛюдогоща ул., 8, район Софийская сторона этаж 1</p>
            </div>
        </div>
    </div>
</body>
</html>