<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <!-- Подключение локального Bootstrap CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Подключение CSS файла -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <!-- Украшаем вкладку вашим логотипом -->
    <link rel="icon" href="{{ url_for('static', filename='Фотки зданий/лого.png') }}" type="image/png">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Шапка -->
    <nav class="bd-subnavbar py-2" aria-label="Secondary navigation">
        <div class="container-xxl d-flex align-items-md-center">
            <div class="logo">
                <img height="50px" width="70px" src="{{ url_for('static', filename='Фотки зданий/лого.png') }}" class="img-logo" alt="Иконка лого.png">
                <span class="text-logo">Городской Гид</span>
            </div>
            <form class="bd-search position-relative me-auto" action="/search" method="POST">
                <span class="algolia-autocomplete">
                    <input class="form-control ds-input" id="search-input" name="query" placeholder="Поиск в документации..." aria-autocomplete="list">
                </span>
            </form>
            <div class="dropdown">
                <div id="overlay" style="display: none;"></div>
                <button id="loginButton" class="btn btn-bd-light" style="border: 1px solid #ced4da;" onclick="showWindow()">
                    <span class="d-none d-lg-inline">Вход</span>
                </button>
                   <div id="content_window" class="popup-window">
                    <form id="loginForm" method="POST" action="/login">
                        <h1>Вход</h1>
                        <span class="btnX" onclick="hideWindow()">x</span>
                        <div class="form-group">
                            <label for="username">Логин</label>
                            <input type="text" class="form-control" id="username" name="username" placeholder="Введите логин" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Пароль</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Введите пароль" required>
                        </div>
                        <button type="submit" class="btnB">Войти</button>
                    </form>
                </div>
                <button id="registerButton" class="btn btn-bd-light" style="border: 1px solid #ced4da;" onclick="showWindow1()">
                    <span class="d-none d-lg-inline">Регистрация</span>
                </button>
                <div id="content_window2" class="popup-window">
                    <form id="regForm" method="POST" action="/register">
                        <h1>Регистрация</h1>
                        <span class="btnX" onclick="hideWindow1()">x</span>
                        <div class="form-group">
                            <label for="username1">Логин</label>
                            <input type="text" id="username1" name="username" class="form-control" placeholder="Введите логин" required>
                        </div>
                        <div class="form-group">
                            <label for="password1">Пароль</label>
                            <input type="password" id="password1" name="password" class="form-control" placeholder="Введите пароль" required>
                        </div>
                        <div class="form-group">
                            <label for="password2">Подтвердите пароль</label>
                            <input type="password" id="password2" name="confirm_password" class="form-control" placeholder="Подтвердите пароль" required>
                        </div>
                        <div class="form-group">
                            <label for="secret_key">Секретный ключ</label>
                            <input type="password" id="secret_key" name="secret_key" class="form-control" placeholder="Введите секретный ключ" required>
                        </div>
                        <input type="submit" class="btnB" value="Зарегистрироваться">
                    </form>
                </div>
            </div>
            <div id="userInfo" style="display: none;">
                <img id="avatar" src="{{ url_for('static', filename='Фотки зданий/avatar.png') }}" alt="Avatar" style="width: 30px; height: 30px;">
                <span id="welcomeUser"></span>
                <button class="btn btn-bd-light" style="border: 1px solid #ced4da;" onclick="logout()">
                    <span class="d-none d-lg-inline">Выход</span>
                </button>
            </div>
        </div>
    </nav>
    <script>
        function showWindow() {
            document.getElementById('overlay').style.display = 'block';
            const windowElement = document.getElementById('content_window');
            windowElement.classList.add('show');
            windowElement.style.display = 'block'; // Убедимся, что окно видимо
        }

        function hideWindow() {
            document.getElementById('overlay').style.display = 'none';
            const windowElement = document.getElementById('content_window');
            windowElement.classList.remove('show');
            windowElement.style.display = 'none'; // Скрываем окно
        }

        function showWindow1() {
            document.getElementById('overlay').style.display = 'block';
            const windowElement = document.getElementById('content_window2');
            windowElement.classList.add('show');
            windowElement.style.display = 'block'; // Убедимся, что окно видимо
        }

        function hideWindow1() {
            document.getElementById('overlay').style.display = 'none';
            const windowElement = document.getElementById('content_window2');
            windowElement.classList.remove('show');
            windowElement.style.display = 'none'; // Скрываем окно
        }

        // Обработчик для формы регистрации
        document.getElementById('regForm').onsubmit = function(event) {
            event.preventDefault(); // Предотвращаем отправку формы

            // Получаем данные из формы
            const username = document.getElementById('username1').value;
            const password = document.getElementById('password1').value;
            const confirmPassword = document.getElementById('password2').value;
            const secretKey = document.getElementById('secret_key').value;

            // Проверка совпадения паролей
            if (password !== confirmPassword) {
                alert('Пароли не совпадают');
                return;
            }

            // Отправляем данные на сервер
            fetch('/register', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: new URLSearchParams({
                    'username': username,
                    'password': password,
                    'secret_key': secretKey
                })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    document.getElementById('welcomeUser').innerText = data.username;
                    document.getElementById('userInfo').style.display = 'block'; // Показываем информацию о пользователе
                    document.getElementById('overlay').style.display = 'none';
                    document.getElementById('content_window2').classList.remove('show');
                    document.getElementById('content_window2').style.display = 'none'; // Скрываем окно
                    document.getElementById('loginButton').style.display = 'none';
                    document.getElementById('registerButton').style.display = 'none';
                    localStorage.setItem('username', data.username);
                } else {
                    alert(data.message); // Показываем сообщение об ошибке
                }
            });
        };

        // Обработчик для формы входа
        document.getElementById('loginForm').onsubmit = function(event) {
            event.preventDefault(); // Предотвращаем отправку формы

            // Получаем данные из формы
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;

            // Отправляем данные на сервер
            fetch('/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: new URLSearchParams({
                    'username': username,
                    'password': password
                })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    document.getElementById('welcomeUser').innerText = data.username;
                    document.getElementById('userInfo').style.display = 'block'; // Показываем информацию о пользователе
                    document.getElementById('overlay').style.display = 'none';
                    document.getElementById('content_window').classList.remove('show');
                    document.getElementById('content_window').style.display = 'none'; // Скрываем окно
                    document.getElementById('loginButton').style.display = 'none';
                    document.getElementById('registerButton').style.display = 'none';
                    localStorage.setItem('username', data.username);
                } else {
                    alert(data.message); // Показываем сообщение об ошибке
                }
            });
        };

        function logout() {
            fetch('/logout', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    document.getElementById('userInfo').style.display = 'none'; // Скрываем информацию о пользователе
                    document.getElementById('loginButton').style.display = 'block';
                    document.getElementById('registerButton').style.display = 'block';
                    localStorage.removeItem('username');
                } else {
                    alert(data.message); // Показываем сообщение об ошибке
                }
            });
        }

        // Проверка состояния пользователя при загрузке страницы
        window.addEventListener('load', function() {
            const username = localStorage.getItem('username');
            if (username) {
                document.getElementById('welcomeUser').innerText = username;
                document.getElementById('userInfo').style.display = 'block';
                document.getElementById('loginButton').style.display = 'none';
                document.getElementById('registerButton').style.display = 'none';
            }
        });

        // Синхронизация состояния пользователя между вкладках
        window.addEventListener('storage', function(event) {
            if (event.key === 'username') {
                if (event.newValue) {
                    document.getElementById('welcomeUser').innerText = event.newValue;
                    document.getElementById('userInfo').style.display = 'block';
                    document.getElementById('loginButton').style.display = 'none';
                    document.getElementById('registerButton').style.display = 'none';
                } else {
                    document.getElementById('userInfo').style.display = 'none';
                    document.getElementById('loginButton').style.display = 'block';
                    document.getElementById('registerButton').style.display = 'block';
                }
            }
        });
    </script>
</head>
<body>
    <!-- Подключение локального Bootstrap JS -->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

    <!-- Приветствие -->
    <div class="image-container">
        <img height="100%" width="100%" src="{{ url_for('static', filename='Фотки зданий/ВеликийНовгород.png') }}" class="img-top-center" alt="ВеликийНовгород.png">
        <div class="text-center">
            <h1 class="lh-base">Привет! И добро пожаловать в Городской Гид по Великому Новгороду.<br>Что вас интересует?</h1>
        </div>
    </div>

    <!-- Иконки первый ряд -->
    <div class="container">
        <div class="card" onclick="window.location.href='/Restaurant';">
            <img vspace="10px" hspace="10px" src="{{ url_for('static', filename='Фотки зданий/ИконкаРесторана.png') }}" class="img-top" alt="Иконка Ресторан.png">
        </div>
        <div class="card" onclick="window.location.href='/Coffee';">
            <img vspace="10px" hspace="10px" src="{{ url_for('static', filename='Фотки зданий/ИконкаКофе.png') }}" class="img-top" alt="Иконка Кофе.png">
        </div>
        <div class="card" onclick="window.location.href='/shop';">
            <img vspace="10px" hspace="10px" src="{{ url_for('static', filename='Фотки зданий/ИконкаМагазина.png') }}" class="img-top" alt="Иконка Магазина.png">
        </div>
    </div>

    <!-- Иконки второй ряд -->
    <div class="container1">
        <div class="card" onclick="window.location.href='/museums';">
            <img vspace="10px" hspace="10px" src="{{ url_for('static', filename='Фотки зданий/ИконкаМузеи.png') }}" class="img-top" alt="Иконка Музея.png">
        </div>
        <div class="card" onclick="window.location.href='/theatre';"><img vspace="10px" hspace="10px" src="{{ url_for('static', filename='Фотки зданий/ИконкаТеатр.png') }}" class="img-top" alt="Иконка Театра.png">
            </div>
        <div class="card" onclick="window.location.href='/library';">
            <img vspace="10px" hspace="10px" src="{{ url_for('static', filename='Фотки зданий/ИконкиБиблиотеки.png') }}" class="img-top" alt="Иконка Библиотеки.png">
        </div>
    </div>

    <!-- Иконки третий ряд -->
    <div class="container2">
        <div class="card" onclick="window.location.href='/park';">
            <img vspace="10px" hspace="10px" src="{{ url_for('static', filename='Фотки зданий/ИконкаПарка.png') }}" class="img-top" alt="Иконка Парка.png">
        </div>
        <div class="card" onclick="window.location.href='/cinema';">
            <img vspace="10px" hspace="10px" src="{{ url_for('static', filename='Фотки зданий/ИконкаКинотеатр.png') }}" class="img-top" alt="Иконка Кинотеатр.png">
        </div>
        <div class="card" onclick="window.location.href='/sports';">
            <img vspace="10px" hspace="10px" src="{{ url_for('static', filename='Фотки зданий/ИконкаСпортплощадка.png') }}" class="img-top" alt="Иконка Спортплощадка.png">
        </div>
    </div>

    <!-- Иконки третий ряд -->
    <div class="container3">
        <div class="card" onclick="window.location.href='/church';">
            <img vspace="10px" hspace="10px" src="{{ url_for('static', filename='Фотки зданий/ИконкаЦеркви.png') }}" class="img-top" alt="Иконка Церкви.png">
        </div>
        <div class="card" onclick="window.location.href='/hotels';">
            <img vspace="10px" hspace="10px" src="{{ url_for('static', filename='Фотки зданий/ИконкиГостиницы.png') }}" class="img-top" alt="Иконки Гостиницы.png">
        </div>
    </div>
</body>
</html>