<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <!-- Подключение локального Bootstrap CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Подключение CSS файла -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <!-- Украшаем вкладку вашим логотипом -->
    <link rel="icon" href="{{ url_for('static', filename='Фотки зданий/лого.png') }}" type="image/png">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Шапка -->
    <nav class="bd-subnavbar py-2" aria-label="Secondary navigation">
        <div class="container-xxl d-flex align-items-md-center">
            <div class="logo">
                <img height="50px" width="70px" src="{{ url_for('static', filename='Фотки зданий/лого.png') }}" class="img-logo" alt="Иконка лого.png">
                <span class="text-logo">Городской Гид</span>
            </div>
            <form class="bd-search position-relative me-auto" action="/search" method="POST">
                <span class="algolia-autocomplete">
                    <input class="form-control ds-input" id="search-input" name="query" placeholder="Поиск в документации..." aria-autocomplete="list">
                </span>
            </form>
            <div class="dropdown">
                <div id="overlay"></div>
                <button class="btn btn-bd-light" style="border: 1px solid #ced4da;" onclick="showWindow()">
                    <span class="d-none d-lg-inline">Вход</span>
                </button>
                <div id="content_window">
                    <form>
                        <h1>Вход</h1>
                        <span class="btnX" onclick="hideWindow()">x</span>
                        <div class="form-group">
                            <label for="username">Логин</label>
                            <input type="text" class="form-control" id="username" placeholder="Введите логин" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Пароль</label>
                            <input type="password" class="form-control" id="password" placeholder="Введите пароль" required>
                        </div>
                        <button type="submit" class="btnB">Войти</button>
                    </form>
                </div>
                <button class="btn btn-bd-light" style="border: 1px solid #ced4da;" onclick="showWindow1()">
                    <span class="d-none d-lg-inline">Регистрация</span>
                </button>
                <div id="content_window2">
                    <form id="regForm">
                        <h1>Регистрация</h1>
                        <span class="btnX" onclick="hideWindow1()">x</span>
                        <div class="form-group">
                            <label for="username1">Логин</label>
                            <input type="text" class="user-info" id="username1" name="username" placeholder="Введите логин" required>
                        </div>
                        <div class="form-group">
                            <label for="password1">Пароль</label>
                            <input type="password" class="form-control" id="password1" name="password" placeholder="Введите пароль" required>
                        </div>
                        <div class="form-group">
                            <label for="password2">Регистрационный пароль</label>
                            <input type="password" class="form-control" id="password2" name="confirm_password" placeholder="Введите пароль" required>
                        </div>
                        <button type="submit" class="btnB">Зарегистрироваться</button>
                    </form>

                    <!-- Элемент для отображения аватарки -->
                    <div id="avatarContainer" style="display: none;">
                        <h2>Добро пожаловать, <span id="welcomeUser "></span>!</h2>
                        <img id="avatar" filename='Фотки зданий/avatar.png' alt="Avatar" style="width: 100px; height: 100px;">
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    function showWindow() {
        document.getElementById('overlay').style.display = 'block';
        const windowElement = document.getElementById('content_window');
        windowElement.classList.add('show');
    }

    function hideWindow() {
        document.getElementById('overlay').style.display = 'none';
        const windowElement = document.getElementById('content_window');
        windowElement.classList.remove('show');
    }

    function showWindow1() {
        document.getElementById('overlay').style.display = 'block';
        const windowElement = document.getElementById('content_window2');
        windowElement.classList.add('show');
    }

    function hideWindow1() {
        document.getElementById('overlay').style.display = 'none';
        const windowElement = document.getElementById('content_window2');
        windowElement.classList.remove('show');
    }

// Обработчик для формы регистрации
    document.getElementById('regForm').onsubmit = function(event) {
        event.preventDefault(); // Предотвращаем отправку формы

        // Получаем данные из формы
        const username = document.getElementById('username1').value;
        const password = document.getElementById('password1').value;
        const confirmPassword = document.getElementById('password2').value;

        // Отправляем данные на сервер
        fetch('/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: new URLSearchParams({
                'username': username,
                'password': password,
                'confirm_password': confirmPassword
            })
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                document.getElementById('welcomeUser ').innerText = data.username;
                document.getElementById('avatarContainer').style.display = 'block'; // Показываем аватарку
            } else {
                alert(data.message); // Показываем сообщение об ошибке
            }
        });
    };
</script>
</head>
<body>
    <!-- Подключение локального Bootstrap JS -->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

    <!-- Приветствие -->
    <div class="image-container">
        <img height="100%" width="100%" src="{{ url_for('static', filename='Фотки зданий/ВеликийНовгород.png') }}" class="img-top-center" alt="ВеликийНовгород.png">
        <div class="text-center">
            <h1 class="lh-base">Привет! И добро пожаловать в Городской Гид по Великому Новгороду.<br>Что вас интересует?</h1>
        </div>
    </div>

    <!-- Иконки первый ряд -->
    <div class="container">
        <div class="card" onclick="window.location.href='/Restaurant';">
            <img vspace="10px" hspace="10px" src="{{ url_for('static', filename='Фотки зданий/ИконкаРесторана.png') }}" class="img-top" alt="Иконка Ресторан.png">
        </div>
        <div class="card" onclick="window.location.href='/Coffee';">
            <img vspace="10px" hspace="10px" src="{{ url_for('static', filename='Фотки зданий/ИконкаКофе.png') }}" class="img-top" alt="Иконка Кофе.png">
        </div>
        <div class="card" onclick="window.location.href='/shop';">
            <img vspace="10px" hspace="10px" src="{{ url_for('static', filename='Фотки зданий/ИконкаМагазина.png') }}" class="img-top" alt="Иконка Магазина.png">
        </div>
    </div>

    <!-- Иконки второй ряд -->
    <div class="container1">
        <div class="card" onclick="window.location.href='/museums';">
            <img vspace="10px" hspace="10px" src="{{ url_for('static', filename='Фотки зданий/ИконкаМузеи.png') }}" class="img-top" alt="Иконка Музея.png">
        </div>
        <div class="card" onclick="window.location.href='/theatre';"><img vspace="10px" hspace="10px" src="{{ url_for('static', filename='Фотки зданий/ИконкаТеатр.png') }}" class="img-top" alt="Иконка Театра.png">
            </div>
        <div class="card" onclick="window.location.href='/library';">
            <img vspace="10px" hspace="10px" src="{{ url_for('static', filename='Фотки зданий/ИконкиБиблиотеки.png') }}" class="img-top" alt="Иконка Библиотеки.png">
        </div>
    </div>

    <!-- Иконки третий ряд -->
    <div class="container2">
        <div class="card" onclick="window.location.href='/park';">
            <img vspace="10px" hspace="10px" src="{{ url_for('static', filename='Фотки зданий/ИконкаПарка.png') }}" class="img-top" alt="Иконка Парка.png">
        </div>
        <div class="card" onclick="window.location.href='/cinema';">
            <img vspace="10px" hspace="10px" src="{{ url_for('static', filename='Фотки зданий/ИконкаКинотеатр.png') }}" class="img-top" alt="Иконка Кинотеатр.png">
        </div>
        <div class="card" onclick="window.location.href='/sports';">
            <img vspace="10px" hspace="10px" src="{{ url_for('static', filename='Фотки зданий/ИконкаСпортплощадка.png') }}" class="img-top" alt="Иконка Спортплощадка.png">
        </div>
    </div>

    <!-- Иконки третий ряд -->
    <div class="container3">
        <div class="card" onclick="window.location.href='/church';">
            <img vspace="10px" hspace="10px" src="{{ url_for('static', filename='Фотки зданий/ИконкаЦеркви.png') }}" class="img-top" alt="Иконка Церкви.png">
        </div>
        <div class="card" onclick="window.location.href='/hotels';">
            <img vspace="10px" hspace="10px" src="{{ url_for('static', filename='Фотки зданий/ИконкиГостиницы.png') }}" class="img-top" alt="Иконки Гостиницы.png">
        </div>
    </div>
</body>
</html>