<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Городской гид - {{title}}</title>
    <!-- Подключение CSS файла -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Style.css') }}">
    <!-- Украшаем вкладку вашим логотипом -->
    <link rel="icon" href="{{ url_for('static', filename='Фотки зданий/лого.png') }}" type="image/png">

    <!-- Шапка -->
    <nav class="bd-subnavbar py-2" aria-label="Secondary navigation">
        <div class="container-xxl d-flex align-items-md-center">
            <div class="logo" onclick="window.location.href='/';">
                <img height="50px" width="70px" src="{{ url_for('static', filename='Фотки зданий/лого.png') }}" class="img-logo" alt="Иконка лого.png">
                <span class="text-logo">Городской Гид</span>
            </div>
            <form class="bd-search position-relative me-auto" action="/search" method="POST">
                <span class="algolia-autocomplete">
                    <input class="form-control ds-input" id="search-input" name="query" placeholder="Поиск в документации..." aria-autocomplete="list">
                </span>
            </form>
            <div class="dropdown">
                <div id="overlay" style="display: none;"></div>
                <button id="loginButton" class="btn btn-bd-light" style="border: 1px solid #ced4da;" onclick="showWindow()">
                    <span class="d-none d-lg-inline">Вход</span>
                </button>
                   <div id="content_window" class="popup-window">
                    <form id="loginForm" method="POST" action="/login">
                        <h1>Вход</h1>
                        <span class="btnX" onclick="hideWindow()">x</span>
                        <div class="form-group">
                            <label for="username">Логин</label>
                            <input type="text" class="form-control" id="username" name="username" placeholder="Введите логин" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Пароль</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Введите пароль" required>
                        </div>
                        <button type="submit" class="btnA">Войти</button>
                    </form>
                </div>
                <button id="registerButton" class="btn btn-bd-light" style="border: 1px solid #ced4da;" onclick="showWindow1()">
                    <span class="d-none d-lg-inline">Регистрация</span>
                </button>
                <div id="content_window2" class="popup-window">
                    <form id="regForm" method="POST" action="/register">
                        <h1>Регистрация</h1>
                        <span class="btnX" onclick="hideWindow1()">x</span>
                        <div class="form-group">
                            <label for="username1">Логин</label>
                            <input type="text" id="username1" name="username" class="form-control" placeholder="Введите логин" required>
                        </div>
                        <div class="form-group">
                            <label for="password1">Пароль</label>
                            <input type="password" id="password1" name="password" class="form-control" placeholder="Введите пароль" required>
                        </div>
                        <div class="form-group">
                            <label for="password2">Подтвердите пароль</label>
                            <input type="password" id="password2" name="confirm_password" class="form-control" placeholder="Подтвердите пароль" required>
                        </div>
                        <div class="form-group">
                            <label for="secret_key">Секретный ключ</label>
                            <input type="password" id="secret_key" name="secret_key" class="form-control" placeholder="Введите секретный ключ" required>
                        </div>
                        <input type="submit" class="btnB" value="Зарегистрироваться">
                    </form>
                </div>
            </div>
            <div id="userInfo" style="display: none;">
                <img id="avatar" src="{{ url_for('static', filename='Фотки зданий/avatar.png') }}" alt="Avatar" style="width: 30px; height: 30px;">
                <span id="welcomeUser"></span>
                <button class="btn btn-bd-light" style="border: 1px solid #ced4da;" onclick="logout()">
                    <span class="d-none d-lg-inline">Выход</span>
                </button>
            </div>
        </div>
    </nav>
    <script>
        function showWindow() {
            document.getElementById('overlay').style.display = 'block';
            const windowElement = document.getElementById('content_window');
            windowElement.classList.add('show');
            windowElement.style.display = 'block'; // Убедимся, что окно видимо
            document.body.classList.add('no-scroll'); // Предотвращаем скролл страницы
        }

        function hideWindow() {
            document.getElementById('overlay').style.display = 'none';
            const windowElement = document.getElementById('content_window');
            windowElement.classList.remove('show');
            windowElement.style.display = 'none'; // Скрываем окно
            document.body.classList.remove('no-scroll'); // Возвращаем скролл страницы
        }

        function showWindow1() {
            document.getElementById('overlay').style.display = 'block';
            const windowElement = document.getElementById('content_window2');
            windowElement.classList.add('show');
            windowElement.style.display = 'block'; // Убедимся, что окно видимо
            document.body.classList.add('no-scroll'); // Предотвращаем скролл страницы
        }

        function hideWindow1() {
            document.getElementById('overlay').style.display = 'none';
            const windowElement = document.getElementById('content_window2');
            windowElement.classList.remove('show');
            windowElement.style.display = 'none'; // Скрываем окно
            document.body.classList.remove('no-scroll'); // Возвращаем скролл страницы
        }

        // Закрытие окна при клике вне его
        document.getElementById('overlay').addEventListener('click', function() {
            const window1 = document.getElementById('content_window');
            const window2 = document.getElementById('content_window2');
            if (window1.classList.contains('show')) {
                hideWindow();
            } else if (window2.classList.contains('show')) {
                hideWindow1();
            }
        });

        // Закрытие окна при нажатии на кнопки внутри окна
        document.querySelectorAll('.btnA, .btnB').forEach(function(button) {
            button.addEventListener('click', function() {
                const window1 = document.getElementById('content_window');
                const window2 = document.getElementById('content_window2');
                if (window1.classList.contains('show')) {
                    hideWindow();
                } else if (window2.classList.contains('show')) {
                    hideWindow1();
                }
            });
        });

        // Обработчик для формы регистрации
        document.getElementById('regForm').onsubmit = function(event) {
            event.preventDefault(); // Предотвращаем отправку формы

            // Получаем данные из формы
            const username = document.getElementById('username1').value;
            const password = document.getElementById('password1').value;
            const confirmPassword = document.getElementById('password2').value;
            const secretKey = document.getElementById('secret_key').value;

            // Проверка совпадения паролей
            if (password !== confirmPassword) {
                alert('Пароли не совпадают');
                return;
            }

            // Отправляем данные на сервер
            fetch('/register', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: new URLSearchParams({
                    'username': username,
                    'password': password,
                    'secret_key': secretKey
                })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    document.getElementById('welcomeUser').innerText = data.username;
                    document.getElementById('userInfo').style.display = 'block'; // Показываем информацию о пользователе
                    document.getElementById('overlay').style.display = 'none';
                    document.getElementById('content_window2').classList.remove('show');
                    document.getElementById('content_window2').style.display = 'none'; // Скрываем окно
                    document.getElementById('loginButton').style.display = 'none';
                    document.getElementById('registerButton').style.display = 'none';
                    localStorage.setItem('username', data.username);
                } else {
                    alert(data.message); // Показываем сообщение об ошибке
                }
            });
        };

        // Обработчик для формы входа
        document.getElementById('loginForm').onsubmit = function(event) {
            event.preventDefault(); // Предотвращаем отправку формы

            // Получаем данные из формы
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;

            // Отправляем данные на сервер
            fetch('/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: new URLSearchParams({
                    'username': username,
                    'password': password
                })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    document.getElementById('welcomeUser').innerText = data.username;
                    document.getElementById('userInfo').style.display = 'block'; // Показываем информацию о пользователе
                    document.getElementById('overlay').style.display = 'none';
                    document.getElementById('content_window').classList.remove('show');
                    document.getElementById('content_window').style.display = 'none'; // Скрываем окно
                    document.getElementById('loginButton').style.display = 'none';
                    document.getElementById('registerButton').style.display = 'none';
                    localStorage.setItem('username', data.username);
                } else {
                    alert(data.message); // Показываем сообщение об ошибке
                }
            });
        };

        function logout() {
            fetch('/logout', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    document.getElementById('userInfo').style.display = 'none'; // Скрываем информацию о пользователе
                    document.getElementById('loginButton').style.display = 'block';
                    document.getElementById('registerButton').style.display = 'block';
                    localStorage.removeItem('username');
                } else {
                    alert(data.message); // Показываем сообщение об ошибке
                }
            });
        }

        // Проверка состояния пользователя при загрузке страницы
        window.addEventListener('load', function() {
            const username = localStorage.getItem('username');
            if (username) {
                document.getElementById('welcomeUser').innerText = username;
                document.getElementById('userInfo').style.display = 'block';
                document.getElementById('loginButton').style.display = 'none';
                document.getElementById('registerButton').style.display = 'none';
            }
        });

        // Синхронизация состояния пользователя между вкладках
        window.addEventListener('storage', function(event) {
            if (event.key === 'username') {
                if (event.newValue) {
                    document.getElementById('welcomeUser').innerText = event.newValue;
                    document.getElementById('userInfo').style.display = 'block';
                    document.getElementById('loginButton').style.display = 'none';
                    document.getElementById('registerButton').style.display = 'none';
                } else {
                    document.getElementById('userInfo').style.display = 'none';
                    document.getElementById('loginButton').style.display = 'block';
                    document.getElementById('registerButton').style.display = 'block';
                }
            }
        });
    </script>
</head>
<body>
<!-- Задний фон -->
    <div class="image-container">
        <img src="{{ url_for('static', filename='Фотки зданий/СпортплощадкаФон.jpg') }}" class="img-top-center" alt="СпортплощадкаФон.jpg">
    </div>
<div class="container" style="margin-top: 50px;">
  <div class="card">
    <img class="img-top" style="border-radius: 20px; margin: 10px; transition: filter 0.3s;" width="250px" height="250px" src="{{ url_for('static', filename='Фотки зданий/Спортплощадка.png') }}" alt="Спортплощадка.png">
    <div class="card-body">
      <h4 class="card-title">Спортплощадка</h4>
      <p class="card-text">Спортплощадка — это территория для занятий спортом, оборудованная футбольными полями, баскетбольными и волейбольными площадками. Она предназначена для активного отдыха и тренировок для всех возрастов.<br><br> ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤВеликий Новгород, район Софийская сторона, 108-й квартал</p>
    </div>
  </div>
    <div class="card">
    <img class="img-top" style="border-radius: 20px; margin: 10px; transition: filter 0.3s;" width="250px" height="250px" src="{{ url_for('static', filename='Фотки зданий/воркаут.png') }}" alt="Спортплощадка.png">
    <div class="card-body">
      <h4 class="card-title">Спортплощадка, воркаут</h4>
      <p class="card-text">Спортплощадка — это территория для занятий спортом, оборудованная футбольными полями, баскетбольными и волейбольными площадками. Она предназначена для активного отдыха и тренировок для всех возрастов.<br><br>+7 (8162) 73-24-06 ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤПрусская ул., 4</p>
    </div>
  </div>
</div>
<footer class="footer">
        <div class="footer-section">
            <img class="img-logo-footer" src="{{ url_for('static', filename='Фотки зданий/лого.png') }}" alt="Logo">
            <p class="description">Городской гид - это сайт, который позволит найти всё в твоём городе!</p>
            <div class="social-icons">
                <a href="#"><img src="{{ url_for('static', filename='Фотки зданий/TG.png') }}" alt="Telegram"></a>
                <a href="#"><img src="{{ url_for('static', filename='Фотки зданий/YT.png') }}" alt="YouTube"></a>
                <a href="#"><img src="{{ url_for('static', filename='Фотки зданий/vk.png') }}" alt="VK"></a>
                <a href="#"><img src="{{ url_for('static', filename='Фотки зданий/OK.png') }}" alt="OK"></a>
            </div>
        </div>
        <div class="footer-section">
            <h4>Наши контакты</h4>
            <img src="{{ url_for('static', filename='Фотки зданий/Телефон.png') }}" class="contact-icon" alt="Phone">
            <a href="tel:+894674736353">894674736353</a><br>
            <img src="{{ url_for('static', filename='Фотки зданий/телефон.png') }}" class="contact-icon" alt="Phone">
            <a href="tel:+894674736353">894674736353</a><br>
            <img src="{{ url_for('static', filename='Фотки зданий/Письмо.png') }}" class="contact-icon" alt="Mail">
            <a href="mailto:mail@mail.ru">mail@mail.ru</a><br>
            <p>г. Великий Новгород</p>
        </div>
        <div class="footer-section">
            <h4>Информация</h4>
            <a href="#">О нас</a><br>
            <a href="#">Личный Кабинет</a><br>
            <a href="#">Создатели</a><br>
            <a href="#">Контакты</a>
        </div>
    </footer>
</body>
</html>